/* Estilização personalizada para a scrollbar */
.thin-scrollbar::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  
  .thin-scrollbar::-webkit-scrollbar-track {
    background: transparent;    
  }
  
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(100, 116, 139, 0.5);
    border-radius: 9999px;
    border: 2px solid transparent; /* "padding" para afinar */
    background-clip: content-box;  /* garante que a borda faça efeito */
    transition: background 0.3s ease;
  }
  
  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 116, 139, 0.8);
  }
  
  /* Para Firefox */
  .thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 116, 139, 0.5) transparent;
  }
  
  /* Ajustes específicos para o sidebar */
  .bg-gray-200 .thin-scrollbar::-webkit-scrollbar-track {
     background-color: rgba(55, 65, 81, 0.4);
  }
  
  .bg-gray-200 .thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(55, 65, 81, 0.4);
}

  .bg-gray-200 .thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(55, 65, 81, 0.7);
}